@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Your Account is blocked";
}
<div class="text-center pt-5">
    <h1 class="mb-5">Your account is blocked</h1>
</div>
@section Scripts
{
    <script>
        $(function () {

            if (hideLoadingSpinner) {
                hideLoadingSpinner();
            }       
        })
    </script>
}